<section class="user-content">
	<div class="user-data">
		<div class="user-level">
			Lvl {{user_level}}
		</div>
		{% if user_pic_uri == null %}
			<div class="user-image" style="background: url('https://avatars.dicebear.com/api/initials/{{username}}.svg')"></div>
		{% else %}
			<div class="user-image" style="background: url('/assets/user-pictures/{{user_pic_uri}}')"></div>
		{% endif %}

		<form action="/perfil" method="POST" enctype="multipart/form-data" class="picture-form">
			<label class="file-uploader" for="file">
				<i class="fa fa-upload" aria-hidden="true"></i>Subir imagen</label>
			<input class="change-user-image" id="file" type="file" name="user-pic">
			<input class="submit-image" type="submit">
		</form>

		<form action="/perfil" method="POST">
			<input class="change-username" type="textfield" name="user-name" value="{{username}}" placeholder="Introduce tu nombre de usuario">
		</form>
	</div>

	<div class="user-taskers">

		<div class="user-stats">
			<div class="tasks-percentatge">
				<div class="good-tasks info">
					<i class="far fa-smile-wink"></i>
					<div class="number-percentatge">70%</div>
					<div class="percentatge"></div>
				</div>
				<div class="bad-tasks info">
					<i class="fas fa-meh"></i>
					<div class="number-percentatge">30%</div>
					<div class="percentatge"></div>
				</div>

			</div>

			<div class="rank">
				{% if task_balance < 0 %}
				 <span style="color:red">F</span>
				{% elseif task_balance < 10  %}
				 <span style="color:orange">D</span>
				 {% elseif task_balance < 20  %}
				 <span style="color:yellow">C</span>
				 {% elseif task_balance < 30  %}
				 <span style="color:rgb(50,200,50)">B</span>
				 {% elseif task_balance > 30  %}
				 <span style="color:green">A</span>
				 {% endif %}
			</div>

		</div>


	</div>


</section>
