body,
html {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: url('../../assets/textures/page.png');  
}

.error {
  height: 15px;
  color: red;
  border-radius: 5px;
  text-align: center;
  width: 300px;
  font-size: 0.8em;
  margin: 0;
}

.operation {
  height: 15px;
  color: rgb(0, 119, 0);
  border-radius: 5px;
  text-align: center;
  width: 300px;
  font-size: 0.8em;
  margin: 0;
}
