.home-page {
  font-family: "Roboto";
}

.navbar {
  height: 80px;
  background: #333;

  display: flex;
  justify-content: space-between;
  position: relative;
  backdrop-filter: blur(10px);
  align-items: center;
  z-index: 1000;

  @media (max-width: 1550px) {
    height: 50px;
  }

  .navbar-header {
    width: 100%;
    padding-left: 25px;
    font-size: 40px;
    line-height: 0.4;
    color: white;
    cursor: default;
  }

  .user-info {
    height: 100%;
    display: flex;
    justify-content: space-between;
    width: 50px;
    align-items: center;
    position: relative;
    margin-left: 20px;

    &:hover .user-actions {
      display: block;
      animation: appear-user-info 0.2s forwards;
    }
    .user-actions {
      position: absolute;
      left: -20px;
      top: 50px;
      width: 0px;
      height: 91.5vh;
      background: #ff5f6d;
      background: #333;
      display: none;
      opacity: 0;
      box-shadow: -1px 2px 5px 0px #00000056;

      @media (max-width: 1550px) {
        height: 100vh;
      }

      i {
        color: white;
        margin-left: 10px;
        display: flex;
        align-items: center;
      }

      li {
        list-style-type: none;
        height: 50px;
        width: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        border-right-width: 0px;
        cursor: pointer;

        &:hover {
          background: white;

          a {
            color: #333;
          }

          i {
            color: #333;
          }
        }

        a {
          text-decoration: none;
          list-style-type: none;
          color: white;
          padding-left: 20px;
          font-family: Arial;
          width: 100%;
          height: 100%;
          display: flex;
          align-items: center;
        }

        &.admin-tab {
          color: white;
          background: blue;
          background: #ef32d9;
          background: -webkit-linear-gradient(to right, #6cc9c7, #ef32d9);
          background: linear-gradient(to right, #6ac4c2, #ef32d9);

          &:hover {
            background: linear-gradient(to right, #8bfffd, #ff64ed);
            a,
            i {
              color: white;
            }
          }
        }
      }
    }

    .user-pic {
      height: 45px;
      width: 45px;
      border-radius: 2px;
      cursor: pointer;
      background: rgb(255, 255, 255);
      padding: 2px;

      @media (max-width: 1550px) {
        height: 35px;
        width: 35px;
      }
    }
  }

  .brand-wrapper {
    position: relative;
    height: 80%;
    width: 200px;
    background: white;
    border-radius: 20px;
    box-shadow: 0px 0px 6px 3px rgba(0, 0, 0, 0.199);

    @media (max-width: 1550px) {
      height: 40px;
      width: 150px;
    }

    .page-brand {
      width: 200px;
      height: 100%;
      background: url("../../assets/website_icon.png");
      background-size: 95px;
      background-position: center;
      background-repeat: no-repeat;

      @media (max-width: 1550px) {
        width: 150px;
        background-size: 60px;
      }
    }
    .home-link {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
    }
  }

  .task-currency {
    height: 80%;
    border-radius: 5px;
    margin-right: 5px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background: rgb(255, 255, 255);
    padding: 0px 20px;
    font-size: 14px;
    font-family: Arial;
    color: rgb(126, 125, 125);
    box-shadow: -2px 2px 3px 2px rgba(0, 0, 0, 0.13);
    cursor: pointer;

    i {
      margin-left: 10px;
      color: rgb(179, 96, 2);
    }
  }

  .logout {
    text-decoration: none;
    color: white;
    height: 100%;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial;
    font-size: 13px;
    background: rgba(255, 255, 255, 0.527);
  }
}

.sidebar {
  width: 355px;
  height: 500px;
  background: #c6ffdd;
  box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.171);
  position: absolute;
  margin: 20px;
  right: 0;
  overflow-y: scroll;
  overflow-x: hidden;

  @media (max-width: 1600px) {
    height: 370px;
    width: 250px;
  }

  background: #333;

  .trendy-header {
    width: 450px;
    font-size: 45px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 70px;
    margin: 10px;
    margin-top: 0;
    position: relative;
    top: 8px;

    @media (max-width: 1600px) {
      font-size: 25px;
      margin: 10px;
      height: 20px;
      margin-bottom: 30px;
    }
  }

  .trendy-tag {
    width: 98.5%;
    background: rgba(255, 255, 255, 0.89);
    height: 68px;
    margin: 2px;
    backdrop-filter: blur(20px);
    font-size: 25px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.555);
    border-radius: 6px;

    @media (max-width: 1600px) {
      height: 40px;
      font-size: 15px;
    }

    span {
      height: 100%;
      width: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      background: red;
      border-top-left-radius: 6px;
      border-bottom-left-radius: 6px;
      font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
        "Lucida Sans", Arial, sans-serif;
      color: rgb(255, 255, 255);
    }

    p {
      margin-left: 10px;
    }

    &:hover {
      transform: scale(1.05);
      border: 1px solid rgba(0, 0, 0, 0.219);
    }

    i {
      margin-left: 15px;
      color: rgb(122, 121, 121);
    }
  }
}

.home-content {
  width: calc(100vw - 430px);
  height: 800px;
  position: absolute;
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.267);
  background: rgb(253, 253, 253);
  border-radius: 6px;
  backdrop-filter: blur(10px);

  @media (max-width: 1600px) {
    height: 520px;
    width: calc(100vw - 300px);
  }

  .searcher {
    width: 100%;
    border: none;
    height: 60px;
    padding: 0;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    position: relative;

    .search-bar {
      width: 100%;
      height: 100%;
      border: none;
      margin: 0;
      padding: 0;
      font-size: 25px;
      padding-left: 20px;
      color: rgb(0, 0, 0);
      box-shadow: 0px 0px 1px 2px rgba(163, 163, 163, 0.178);

      @media (max-width: 1550px) {
        font-size: 20px;
      }

      &:focus-visible {
        outline: none;
      }
    }

    .search-button {
      width: 140px;
      height: 60px;
      margin: 0;
      padding: 0;
      border: 0;
      position: relative;
      right: 0px;
      background: rgb(255, 255, 255);
      border-radius: 0px 20px 20px 0px;
      border: 1px solid rgba(199, 199, 199, 0.116);
      color: rgba(51, 51, 51, 0.699);
      font-size: 28px;
      font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
      box-shadow: 0px 0px 1px 2px rgba(163, 163, 163, 0.171);
      z-index: 3;
      background: none;

      @media (max-width: 1550px) {
        font-size: 15px;
      }
    }

    i {
      position: absolute;
      right: 10px;
      background: white;
      height: 60px;
      border-radius: 20px;
      font-size: 30px;
      color: #000000;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 150px;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
  }

  .actions {
    position: relative;
    left: 10px;
    display: flex;
    justify-content: flex-start;
    width: 100%;
    margin-top: 5px;
    margin-bottom: 10px;
    margin-left: 10px;

    .action {
      width: 185px;
      height: 40px;
      border: 1px solid rgb(187, 185, 183);
      background: white;
      cursor: pointer;
      font-size: 15px;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      color: rgb(87, 87, 87);
    }
  }

  .task-result {
    width: 99%;
    height: 45px;
    background: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    position: relative;
    margin-top: 10px;

    @media (max-width: 1550px) {
      height: 30px;
      font-size: 15px;
    }

    @keyframes appear {
      from {
        transform: scale(0);
      }
      to {
        transform: scale(1);
      }
    }

    .close {
      margin: 0px 30px;
      cursor: pointer;
      position: absolute;
      right: 0;
      font-weight: 600;
      font-size: 28px;
      font-family: Arial, Helvetica, sans-serif;

      @media (max-width: 1550px) {
        font-size: 15px;
      }
    }

    .task-error {
      width: 100%;
      height: 100%;
      background: rgb(240, 41, 41);
      border-radius: 6px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: rgb(255, 235, 235);
      font-size: 25px;
      font-weight: 900;
      animation: appear 0.3s forwards;

      @media (max-width: 1550px) {
        font-size: 15px;
      }
    }

    .task-success {
      width: 100%;
      height: 100%;
      background: rgb(9, 158, 9);
      backdrop-filter: blur(10px);
      border-radius: 6px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: rgb(255, 235, 235);
      font-size: 25px;
      font-weight: 900;
      animation: appear 0.3s forwards;

      @media (max-width: 1550px) {
        font-size: 15px;
      }
    }
  }

  .task-list {
    width: 98%;
    height: 610px;
    background: rgb(255, 255, 255);
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.13);
    box-shadow: 0px 2px 5px 5px rgba(0, 0, 0, 0.068);
    overflow-y: scroll;
    overflow-x: hidden;

    @media (max-width: 1600px) {
      height: 400px;
    }

    .task-item {
      width: 99.5%;
      height: 60px;
      border-radius: 10px;
      background: rgb(255, 255, 255);
      display: flex;
      display: flex;
      align-items: center;
      position: relative;
      background: linear-gradient(
        180deg,
        rgba(139, 139, 139, 0.062) 40%,
        rgb(255, 255, 255)
      );
      position: relative;
      background-repeat: no-repeat;
      background-size: cover;
      margin: 4px;
      border: 1px solid rgba(51, 51, 51, 0.137);
      transition: 0.5s all;

      @media (max-width: 1600px) {
        height: 40px;
      }

      &:hover {
        background-color: rgb(232, 232, 232);
      }

      &:before {
        width: 0;
        height: 100%;
        content: "";
        display: inline-block;
        position: absolute;
        top: 0;
        left: 0;
        border-radius: 6px;
        background: rgba(255, 255, 255, 0.582);
        z-index: 1;
      }
      .task-level {
        width: 120px;
        height: 40px;
        border-radius: 6px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 45px;
        color: white;
        position: absolute;
        right: 200px;
        box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.096);
        font-weight: 700;

        @media (max-width: 1600px) {
          font-size: 20px;
          height: 30px;
        }

        p {
          font-size: 15px;

          @media (max-width: 1600px) {
            font-size: 12px;
          }
        }
      }

      .add-task {
        width: 60px;
        height: 100%;
        border-top-left-radius: 6px;
        border-bottom-left-radius: 6px;
        border-right: 4px solid rgba(199, 199, 199, 0.055);
        z-index: 2;
        font-size: 0;
        position: relative;
        background: white;
        max-height: 60px;

        input {
          width: 100%;
          height: 100%;
          background: url("../../assets/icons/add.png");
          background-size: 120%;
          background-position: center;
          backdrop-filter: blur(10px);
          border: none;
          cursor: pointer;
          font-size: 35px;
          color: rgb(255, 255, 255);
          border-top-left-radius: 6px;
          border-bottom-left-radius: 6px;
          font-size: 0;
          position: relative;
        }
      }

      .task-title {
        height: 80%;
        color: black;
        font-size: 24px;
        display: flex;
        justify-content: center;
        background: rgba(255, 255, 255, 0.89);
        backdrop-filter: blur(10px);
        align-items: center;
        padding: 0px 20px;
        font-family: "Josefin Sans", sans-serif;
        font-weight: normal;
        margin-left: 10px;
        border-radius: 6px;
        z-index: 2;

        @media (max-width: 1600px) {
          font-size: 15px;
        }
      }

      .task-cost {
        height: 50%;
        width: 70px;
        box-shadow: 0px 0px 5px 3px rgba(230, 77, 6, 0.048);
        background: rgb(250, 191, 28);
        color: rgb(255, 255, 255);
        font-size: 22px;
        font-weight: 800;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0px 20px;
        margin-left: 10px;
        position: absolute;
        right: 70px;
        border-radius: 6px;

        @media (max-width: 1600px) {
          font-size: 15px;
          height: 30px;
        }

        &.positive {
          background: rgba(114, 255, 114, 0.856);
        }

        &.negative {
          background: rgb(247, 62, 62);
        }
      }

      p {
        margin: 0;
      }
    }

    .delete-task {
      height: 42px;
      width: 35px;
      background-color: rgba(249, 51, 51, 0.845);
      color: white;
      border: none;
      font-size: 20px;
      z-index: 1000;
      cursor: pointer;
      position: absolute;
      border-radius: 10px;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      right: 0;
    }

    .new-task {
      background: rgb(92, 89, 89);
      border: none;
      box-shadow: 0px 1px 4px 1px rgba(0, 0, 0, 0.322);
      height: 45px;
      border-radius: 6px;
      transition: 1s all;

      &:hover {
        transform: scale(1.1);
      }

      a {
        width: 100%;
        height: 100%;
        color: white;
        text-decoration: none;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 30px;
        font-weight: 600;

        @media (max-width: 1600px) {
          font-size: 20px;
        }
      }

      &::before {
        display: none;
      }

      &::after {
        display: none;
      }
    }
  }
}

@keyframes appear-user-info {
  from {
    opacity: 0;
    width: 0;
  }
  to {
    opacity: 1;
    width: 400px;
  }
}
