@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

$panel-width: 64px;

.login-page {
  font-family: "Roboto";
  background: rgb(179, 224, 255);
  background: radial-gradient(
    circle,
    rgba(179, 224, 255, 1) 0%,
    rgba(71, 228, 195, 1) 35%,
    rgba(19, 104, 205, 1) 100%
  );
  display: flex;
  justify-content: center;
  align-items: center;

  .login-page-panel-div-wrapper {
    display: flex;
    justify-content: center;
    width: 100%;

    .login-page-panel-div {
      min-height: 150px;
      width: $panel-width;
      font-size: 85px;
      overflow: hidden;
      letter-spacing: 15px;
      animation: translate-letter 1s forwards;
      animation-delay: var(--delay);

      @media (max-width: 768px) {
        width: 50px;
        font-size: 83px;
      }

      &:before {
        content: "Tasker";
        height: 100px;
        width: 200px;
        left: var(--left);
        position: relative;
        color: rgb(var(--hue), var(--hue2), var(--hue3));
        text-transform: uppercase;
        font-weight: 300;
      }

      &:hover {
        transition: scale 2s linear;
      }
    }
  }

  .page-wrapper {
    display: flex;

    @media (max-width: 1200px) {
      justify-content: center;
      width: 100%;
      min-width: 320px;
    }

    .img-div {
      height: 600px;
      width: 600px;
    }

    .form-wrapper {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;

      @media (max-width: 1200px) {
        flex-direction: column;
        width: 80%;
      }

      @media (max-width: 768px) {
        width: 100%;
      }

      .img-div {
        background: url("../../assets/login.jpeg");
        background-size: cover;

        @media (max-width: 1200px) {
          width: 100%;
          position: absolute;
          height: 100%;
          z-index: -1;
        }
      }

      .login-form {
        display: flex;
        flex-direction: column;
        width: 500px;
        height: 70%;
        font-size: 22px;
        width: 600px;
        height: 600px;
        background: white;
        border-radius: 10px 0px 0px 10px;
        align-items: center;
        justify-content: space-evenly;

        @media (max-width: 1200px) {
          border-radius: 10px;
        }

        @media (max-width: 768px) {
          width: 100%;
        }

        input {
          height: 40px;
          border: none;
          border-bottom: 1px solid rgba(0, 0, 0, 0.4);
          font-size: 22px;
          width: 300px;
        }

        i {
          text-align: right;
          position: relative;
          bottom: 75px;
          width: 10px;
          left: 95%;
          color: rgba(0, 0, 0, 0.4);
        }

        input:focus-visible {
          outline: none;
          animation: animate-bottom-border 0.8s forwards infinite ease-in-out;
        }

        .submit {
          border: none;
          cursor: pointer;
          background: transparent;
          color: white;
          text-transform: uppercase;
          box-shadow: 4px 4px 7px 0px #476f75;
          border: 1px solid gray;
          position: relative;
          width: 300px;
          border-radius: 20px;
          background: rgb(72, 72, 248);

          &:hover {
            animation: move-shadow 0.1s forwards linear;
          }
        }
      }

      .register-link {
        text-decoration: none;
        color: black;
      }
    }
  }
}

@for $i from 0 to 6 {
  .login-page-panel-div:nth-child(#{$i + 1}) {
    --left: #{$panel-width * $i * -1};
    --hue: #{0 - (40 * $i)};
    --hue2: #{50 - (40 * $i)};
    --hue3: #{150 - (40 * $i)};
    --delay: #{$i * 0.1s};
  }
}

@keyframes move-shadow {
  to {
    box-shadow: 0px 0px 0.5px 0.5px rgba(0, 0, 0, 0.1);
    transform: translate(3px, 3px);
  }
}

@keyframes translate-letter {
  0% {
  }

  50% {
    transform: scaleY(0.7);
  }

  60% {
    transform: scaleY(1);
  }

  70% {
    transform: scaleY(0.8);
  }

  100% {
    transform: scaleY(1);
  }
}

@keyframes animate-bottom-border {
  0% {
    border-color: transparent;
  }
  50% {
    border-color: rgba(0, 0, 0, 0.3);
  }
  100% {
    border-color: transparent;
  }
}

@keyframes change-text-color {
  0%,
  100% {
  }

  50% {
  }
}
