@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

$panel-width: 64px;

.register-page {
  font-family: "Roboto";
  background: radial-gradient(circle, #f58402, #ffae00 60%, #ff7b00);

  .operation {
    margin-bottom: 10px;
  }

  .type-writter-container {
    width: 100%;
    text-align: center;
    height: 50px;
    margin-top: 20px;
    margin-top: 20px;

    .type-writter {
      width: fit-content;
      animation: typewritter-border 1s infinite;
      border-right: 2px solid white;
      padding-right: 1px;
      height: 100%;
      min-height: 48px;

      &:after {
        content: "Tareas";
        display: inline-block;

        animation: typewritter 10s infinite;
        animation-delay: 2s;
        font-size: 40px;
        min-height: 48px !important;
        height: 100%;
      }
    }
  }

  .register-page-panel-div-wrapper {
    display: flex;
    justify-content: center;
    width: 100%;

    .register-page-panel-div {
      min-height: 100px;
      width: $panel-width;
      font-size: 85px;
      overflow: hidden;
      letter-spacing: 15px;
      animation: translate-letter 1s forwards;
      animation-delay: var(--delay);

      &:before {
        content: "Tasker";
        height: 100px;
        width: 200px;
        left: var(--left);
        position: relative;
        color: black;
        text-transform: uppercase;
        font-weight: 300;
      }

      &:hover {
        transition: scale 2s linear;
      }
    }
  }

  .form-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    flex-direction: column;
    .register-form {
      display: flex;
      flex-direction: column;
      width: 500px;
      height: 100%;
      font-size: 22px;
      width: 700px;
      background: white;
      align-items: center;
      justify-content: center;
      border-radius: 20px;

      input {
        height: 40px;
        border: none;
        border-bottom: 1px solid rgba(0, 0, 0, 0.4);
        margin-bottom: 40px;
        font-size: 22px;
        width: 400px;
      }

      i {
        text-align: right;
        position: relative;
        bottom: 75px;
        width: 10px;
        left: 95%;
        color: rgba(0, 0, 0, 0.4);
      }

      input:focus-visible {
        outline: none;
        animation: animate-bottom-border 0.8s forwards infinite ease-in-out;
      }

      .submit {
        border: none;
        cursor: pointer;
        background: transparent;
        color: color;
        text-transform: uppercase;
        box-shadow: 3px 3px 1px 1px gray;
        border: 1px solid gray;
        position: relative;

        &:hover {
          animation: move-shadow 0.1s forwards linear;
        }
      }
    }

    .login-link {
      margin-top: 30px;
      text-decoration: none;
      font-size: 20px;
      color: black;
      font-weight: 600;
      margin-bottom: 20px;
    }
  }
}

@for $i from 0 to 6 {
  .register-page-panel-div:nth-child(#{$i + 1}) {
    --left: #{$panel-width * $i * -1};
    --hue: #{0 - (40 * $i)};
    --hue2: #{100 - (40 * $i)};
    --hue3: #{200 - (40 * $i)};
    --delay: #{$i * 0.1s};
  }
}

@keyframes move-shadow {
  to {
    box-shadow: 0px 0px 0.5px 0.5px rgba(0, 0, 0, 0.1);
    transform: translate(3px, 3px);
  }
}

@keyframes translate-letter {
  0% {
  }

  50% {
    transform: scaleY(0.7);
  }

  60% {
    transform: scaleY(1);
  }

  70% {
    transform: scaleY(0.8);
  }

  100% {
    transform: scaleY(1);
  }
}

@keyframes animate-bottom-border {
  0% {
    border-color: transparent;
  }
  50% {
    border-color: rgba(0, 0, 0, 0.3);
  }
  100% {
    border-color: transparent;
  }
}

@keyframes change-text-color {
  0%,
  100% {
  }

  50% {
  }
}

@keyframes typewritter {
  0% {
    content: "Tarea";
  }
  6% {
    content: "Tare";
  }
  13% {
    content: "Tar";
  }
  15% {
    content: "Ta";
  }
  19% {
    content: "T";
  }
  22% {
    content: " ";
  }
  24% {
    content: "A";
  }
  26% {
    content: "Al";
  }
  28% {
    content: "Al P";
  }
  34% {
    content: "Al Po";
  }
  38% {
    content: "Al Pod";
  }
  42% {
    content: "Al Pode";
  }
  47% {
    content: "Al Poder";
  }
  52% {
    content: "Al Pode";
  }
  56% {
    content: "Al Pod";
  }
  61% {
    content: "Al Po";
  }
  65% {
    content: "Al P";
  }
  69% {
    content: "Al";
  }
  74% {
    content: "A";
  }
  78% {
    content: " ";
  }
  83% {
    content: "Ta";
  }
  87% {
    content: "Tare";
  }
  95% {
    content: "Tarea";
  }
  100% {
    content: "Tareas";
  }
}

@keyframes typewritter-border {
  0%,
  100% {
    border-color: rgba(255, 255, 255, 0);
  }
  50% {
    border-color: rgb(0, 0, 0);
  }
}
