{% include 'partials/header.html.twig' with {'pageTitle': 'Login', 'bodyClass' : 'login-page'} %}


<div class="page-wrapper">

	<div class="form-wrapper">
		<form action="" method="post" class="login-form">
			<div class="login-page-panel-div-wrapper">
				<div class="login-page-panel-div"></div>
				<div class="login-page-panel-div"></div>
				<div class="login-page-panel-div"></div>
				<div class="login-page-panel-div"></div>
				<div class="login-page-panel-div"></div>
				<div class="login-page-panel-div"></div>
			</div>
			<input placeholder="Correo" type="mail" name="mail"></input>

		{% if mail_error %}
			<p class="error">{{mail_error}}</p>
		{% endif %}

		<input type="password" placeholder="Contraseña" name="password">

		{% if password_error %}
			<p class="error">{{password_error}}</p>
		{% endif %}
		<input class="submit" type="submit">
		<a href="register" class="register-link">Crea una cuenta gratis</a>
	</form>
	<div class="img-div"></div>
</div></div>{% include 'partials/footer.html.twig' %}
