{% include 'partials/header.html.twig' with {'pageTitle': 'Register', 'bodyClass' : 'register-page'} %}

<div class="register-page-panel-div-wrapper">
	<div class="register-page-panel-div"></div>
	<div class="register-page-panel-div"></div>
	<div class="register-page-panel-div"></div>
	<div class="register-page-panel-div"></div>
	<div class="register-page-panel-div"></div>
	<div class="register-page-panel-div"></div>
</div>
<h1 class="type-writter-container">
	<span class="type-writter"></span>
</h1>
<div class="form-wrapper">
	<form action="register" method="post" class="register-form">
		{% if registered %}
			<p class="operation">{{registered}}</p>
		{% endif %}
		<input type="textfield" placeholder="Nombre de usuario" name="username">
		{% if username_error %}
			<p class="error">{{username_error}}</p>
		{% endif %}
		<input type="mail" placeholder="Correo" name="mail">
		{% if email_error %}
			<p class="error">{{email_error}}</p>
		{% endif %}
		<input type="password" placeholder="Contraseña" name="password">
		{% if password_error %}
			<p class="error">{{password_error}}</p>
		{% endif %}
		<input type="password" placeholder="Confirmar contraseña" name="password_confirm">
		<input class="submit" type="submit">
	</form>
	<a href="login" class="login-link">Inicia sesión</a>
</div>
{% include 'partials/footer.html.twig' %}
